<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.settingproblemssystem">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:logo="@drawable/login_back"
        android:supportsRtl="true">
        <activity
            android:name="com.example.settingproblemssystem.SettingProbActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:label="@string/system_redo"
            android:logo="@drawable/login_back"
            android:icon="@drawable/login_back"
            android:screenOrientation="portrait" />

    </application>

</manifest>
